
#roulette-overlay {

    position: fixed;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 1000;
}

#roulette-overlay .roulette-controls {

    width: 100%;
    height: 50px;
    background-color: #184b74;
}

#roulette-overlay .roulette-control button {

    position: fixed;
    border: 0;
    top: 10px;
    color: white;
    background-color: black;
    font-size: 24px;
}

#roulette-minimize {

    right: 40px;
    display: none;
}

#roulette-close {

    right: 10px;
}


#roulette-frame-wrapper {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

#roulette-iframe {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}
